{% extends 'TzepartChatBundle::layout.html.twig' %}

{% block fos_user_content %}
    <div class="row">
        <div class="jumbotron col-md-6 col-md-offset-3 create_note_form">

            <h2 style="text-align: center">Comments creation</h2>

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="form-group form_submit">
                <input name="save" value="Save comment" class="btn btn-success btn-block" type="submit">
                <a href="{{ path('comment_index') }}" class="btn btn-success btn-block">Back to the list</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
