<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <script>
//            window.fbAsyncInit = function() {
//                FB.init({
//                    appId      : '1580054095632817',
//                    xfbml      : true,
//                    version    : 'v2.7'
//                });
//            };
//
//            (function(d, s, id){
//                var js, fjs = d.getElementsByTagName(s)[0];
//                if (d.getElementById(id)) {return;}
//                js = d.createElement(s); js.id = id;
//                js.src = "//connect.facebook.net/en_US/sdk.js";
//                fjs.parentNode.insertBefore(js, fjs);
//            }(document, 'script', 'facebook-jssdk'));
        </script>
    </head>
    <body>
    <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
